@{
    ViewBag.Title = "Method";

    Layout = "~/Views/Shared/_FirstLayout.cshtml";

}

<html>

<head>
    @section Style{
        <style>
            h1 {
                color: green;
            }
        </style>
    }

</head>
<body>



    <h2>MVC</h2>



    @section Script{
        <script>
           // alert("Method")
        </script>
    }
</body>


</html>