
<div class="row">
    <h4 class="text-center text-muted">Simple Call</h4>
</div>
<br/>
<div class="row">
    <h2 id="simpleCallResponseMsg">
        

    </h2>
</div>
<br/>
<br/>

<div class="row">
    <input type="button" class="btn-lg btn-success center-block" id="firstbtnid" value="Click Me !"/>
</div>

