
<div class="row">
    <h4 class="text-center text-muted">Call with Query String </h4>
</div>
<br />
<div class="row">
    <h4 id="queryStringResponseMsg"></h4>
</div>
<br />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <input type="text" id="firstName" class="form-control" placeholder="First Name" />
        <input type="text" id="lastName" class="form-control" placeholder="Last Name" />
    </div>
</div>
<br />

<div class="row">
    <input type="button" class="btn-sm btn-success center-block" id="thirdbtnid" value="Click Me !" />
</div>
