
<div class="row">
    <h4 class="text-center text-muted">Sending jSon</h4>
</div>
<br />
<div class="row">
    <h4 id="sendJsonResponseMsg"></h4>
</div>
<br/>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <input type="text" id="fn" class="form-control" placeholder="First Name" />
        <input type="text" id="ln" class="form-control" placeholder="Last Name" />
    </div>
</div>
<br />

<div class="row">
    <input type="button" class="btn-sm btn-success center-block" id="fourthbtnid" value="Click Me !" />
</div>
