
<div class="row">
    <h4 class="text-center text-muted">Sending and Receiving jSon</h4>
</div>
<br />
<div class="row">
    <h4 id="sendRecvJsonMsg"></h4>
</div>
<br />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <input type="text" id="Name" class="form-control" placeholder="Name" />
        <input type="text" id="FatherName" class="form-control" placeholder="Father Name" />
    </div>
</div>
<br />

<div class="row">
    <input type="button" class="btn-sm btn-success center-block" id="fifthbtnid" value="Click Me !" />
</div>


