@using UpdateForiegnKeyResolverDemo.View_Models;
@model ProductModel
@{
    Layout = "../Shared/_Layout.cshtml";
    List<SelectListItem> categories = ViewBag.Categories;
}
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Name, new { @class = "text-muted" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(x => x.Category, categories, null, new { @class = "form-control" })
    </div>
    <div class="form-group">

        <input class="btn btn-success" value="Add" type="submit" />
    </div>
}