<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Style")
</head>
<body>
<div>
    <h1>Google.com</h1>
    @RenderBody()
</div>
    
    
    @RenderSection("Script")
</body>
</html>
