
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_ShopLayoutPage.cshtml";
}

@section Style{
    
    <style>
        h2{
            color:greenyellow;
        }
    </style>
    
    
    }


<h2>ContactUs</h2>



